.pageCategories{
    background-color: black;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.listMealsContainer {
    padding: 60px ;
    /* width:800px; */
    text-align: center;
}
.listMeals {
    display: flex;
     width:500px;
     /* border-radius:50px ; */
     /* margin: 30px; */
     text-align: center;
     margin-bottom: 50px    ;    
}
.meal{
    justify-content: center;
    align-items: center;
}
.listMeals:hover{
    /* background-color: rgb(210, 138, 138);
    border:black; */
    /* color:white */
}
h2{
    color: wheat;

}
/* .linkText:hover{
    color: black;
} */
.listMeals img{
    border: 5px solid rgb(210, 138, 138);
    width: 140px;
    border-radius: 50px;
 display: flex;
     /* border: 1px solid red; */  
}
.listMeals img:hover{
    opacity:1;
}